{% extends "Basic/layout.html" %}


{% block body %}
<h1>Cálculos</h1>
<form method="POST">
    {% csrf_token %}
    <!-- <table class="table table-borderless table-sm"> -->
    <table>
        <div class="form-group">
            {{ form }}
        </div>
        <tr class="submitr">
            <td colspan="2"><input type="submit" class="btn btn-primary mb-2" value="Calcular"></td>
        </tr>
    </table>
</form>

{% if calculos.status %}
    <h1>{{ calculos.status }}</h1>
{% elif esCalculado %}   
<div>
    <h3>Datos de salida</h3>
    cambiar las tablas incrustadas a divs con un flex o algo asi pq no es responsive
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Caudales BPD</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <table class="table table-bordered table-hover">
                        <tbody>
                            <tr>
                                <td>fraccion S&W de Mezcla</td>
                                <td>{{ calculos.swMezcla|floatformat:2 }}</td>
                            </tr>
                            <tr>
                                <td>Relacion Diluyente/Mezcla</td>
                                <td>{{ calculos.relacionOil_Diluyente|floatformat:2 }}</td>
                            </tr>
                            <tr>
                                <td>% factor de encogimiento</td>
                                <td>{{ calculos.factorEncogimiento|floatformat:2 }}</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <table class="table table-bordered table-hover">
                        <tbody>
                            <tr>
                                <td>ACEITE Qo</td>
                                <td>{{ calculos.aceite|floatformat:2 }}</td>
                            </tr>
                            <tr>
                                <td>DILUYENTE Qd</td>
                                <td>{{ calculos.diluyente|floatformat:2 }}</td>
                            </tr>
                            <tr>
                                <td>AGUA Qw</td>
                                <td>{{ calculos.agua|floatformat:2 }}</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <h3>Propiedades de fluidos calculadas</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Gravedad Especifica @60ºF</th>
                <th>API @60ºF</th>
                <th>Densidad lb/ft <sup>3</sup></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <table class="table table-bordered table-hover">
                        <tbody>
                            <tr>
                                <td>ACEITE CABEZA</td>
                                <td>{{ calculos.geAceite|floatformat:5 }}</td>
                            </tr>
                            <tr>
                                <td>DILUYENTE</td>
                                <td>{{ calculos.geDiluyente|floatformat:5 }}</td>
                            </tr>
                            <tr>
                                <td>MEZCLA</td>
                                <td>{{ calculos.geMezclaSeco|floatformat:5 }}</td>
                            </tr>
                            <tr>
                                <td>AGUA</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>LIQUIDO</td>
                                <td>{{ calculos.geLiquido|floatformat:5 }}</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <table class="table table-bordered table-hover">
                        <tbody>
                            <tr>
                                <td>MEZCLA</td>
                                <td>{{ calculos.apiMezclaSeco|floatformat:2 }}</td>
                            </tr>
                            <tr>
                                <td>LIQUIDO</td>
                                <td>{{ calculos.apiMezclaHumedo|floatformat:2 }}</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <table class="table table-bordered table-hover">
                        <tbody>
                            <tr>
                                <td>MEZCLA</td>
                                <td>{{ calculos.densidadEmulsion|floatformat:2 }}</td>
                            </tr>
                            <tr>
                                <td>DILUYENTE</td>
                                <td>{{ calculos.densidadDiluyente|floatformat:2 }}</td>
                            </tr>
                            <tr>
                                <td>LIQUIDO</td>
                                <td>{{ calculos.densidadLiquido|floatformat:2 }}</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endif %}


{% endblock %}