{% extends "Basic/layout.html" %}
{% load static %}


{% block body %}

<h1>Cálculos</h1>
<br>
<div class="row">
    <div class="col">
        <form method="POST">
            {% csrf_token %}
            <!-- <table class="table table-borderless table-sm"> -->
            <div class="form-group">
                <table>
                    {{ form }}
                    <tr class="submitr">
                        <td></td>
                        <td><input type="submit" class="btn btn-primary mt-3 mb-2" value="Calcular"></td>
                    </tr>
                </table>
            </div>
        </form>
    </div>

    {% if esCalculado %}
    <div class="col">
        <div class="row">
            <div class="btn-group btn-group-sm" role="group" aria-label="tipos graficos">
                <button type="button" class="btn btn-outline-primary" id="relacionDiluyente">Relación diluyente</button>
                <button type="button" class="btn btn-outline-primary" id="diluyenteRequerido">Diluyente requerido</button>
                <button type="button" class="btn btn-outline-primary" id="limiteRestriccion">Límite restricción flujo</button>
            </div>
        </div>
        <div class="row" id="chartContent">
        </div>
    </div>
    {% endif %}
</div>
<hr class="my-4">
{% if calculos.status %}
<h1>{{ calculos.status }}</h1>
{% elif esCalculado %}
<h3>Datos de salida</h3>
<br>
<div class="row">
    <div class="col">
        <table class="table table-bordered table-hover">
            <thead class="table-secondary">
                <tr>
                    <th colspan="2">GENERAL</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">fracción S&W de Mezcla</th>
                    <td>{{ calculos.swMezcla|floatformat:2 }}</td>
                </tr>
                <tr>
                    <th scope="row">Relación Diluyente/Mezcla</th>
                    <td>{{ calculos.relacionOil_Diluyente|floatformat:2 }}</td>
                </tr>
                <tr>
                    <th scope="row">% Factor de encogimiento</th>
                    <td>{{ calculos.factorEncogimiento|floatformat:2 }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col">
        <table class="table table-bordered table-hover">
            <thead class="table-secondary">
                <tr>
                    <th colspan="2">CAUDALES BPD</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Aceite Qo</th>
                    <td>{{ calculos.aceite|floatformat:2 }}</td>
                </tr>
                <tr>
                    <th scope="row">Diluyente Qd</th>
                    <td>{{ calculos.diluyente|floatformat:2 }}</td>
                </tr>
                <tr>
                    <th scope="row">Agua Qw</th>
                    <td>{{ calculos.agua|floatformat:2 }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<br>
<h3>Propiedades de fluidos calculadas</h3>
<br>
<div class="row">
    <div class="col">
        <table class="table table-bordered table-hover">
            <thead class="table-secondary">
                <tr>
                    <th colspan="2">GRAVEDAD ESPECIFICA @ 60ºF</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Aceite Cabeza</th>
                    <td>{{ calculos.geAceite|floatformat:5 }}</td>
                </tr>
                <tr>
                    <th scope="row">Diluyente</th>
                    <td>{{ calculos.geDiluyente|floatformat:5 }}</td>
                </tr>
                <tr>
                    <th scope="row">Mezcla</th>
                    <td>{{ calculos.geMezclaSeco|floatformat:5 }}</td>
                </tr>
                <tr>
                    <th scope="row">Agua</th>
                    <td>1</td>
                </tr>
                <tr>
                    <th scope="row">Líquido</th>
                    <td>{{ calculos.geLiquido|floatformat:5 }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col">
        <table class="table table-bordered table-hover">
            <thead class="table-secondary">
                <tr>
                    <th colspan="2">API @60ºF</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Mezcla</th>
                    <td>{{ calculos.apiMezclaSeco|floatformat:2 }}</td>
                </tr>
                <tr>
                    <th scope="row">Líquido</th>
                    <td id="id_apiMezclaHumedo">{{ calculos.apiMezclaHumedo|floatformat:2 }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col">
        <table class="table table-bordered table-hover">
            <thead class="table-secondary">
                <tr>
                    <th colspan="2">DENSIDAD lb/ft <sup>3</sup></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Mezcla</th>
                    <td>{{ calculos.densidadEmulsion|floatformat:2 }}</td>
                </tr>
                <tr>
                    <th scope="row">Diluyente</th>
                    <td>{{ calculos.densidadDiluyente|floatformat:2 }}</td>
                </tr>
                <tr>
                    <th scope="row">Líquido</th>
                    <td>{{ calculos.densidadLiquido|floatformat:2 }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endif %}

{% endblock %}

{% block script %}
<script src="{% static 'Basic/js/calculos.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/1.0.0/chartjs-plugin-zoom.min.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script> -->
<script src="{% static 'Basic/js/graficas.js' %}"></script>
{% endblock %}