{% extends "Basic/layout.html" %}
{% load static %}


{% block body %}

<h1>Data Histórica</h1>
<br>
<div class="row">
    <div class="col">
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <table>
                    {{ form }}
                    <tr class="submitr">
                        <td></td>
                        <td><input type="submit" class="btn btn-primary mt-3 mb-2" value="Calcular"></td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
    {% if esCalculado %}
    <div class="col">
        <div class="row" id="chartDataHistorica">
        </div>
    </div>
    {% endif %}
</div>
<br>
{% if esCalculado %}
<h3>Fecha del última prueba: {{ data.fecha }}</h3>
<br>
{% for tabla in data.tablas %}
{% if forloop.counter0|divisibleby:2 %}
<div class="row">
{% endif %}
    <div class="col">
        <table class="table table-bordered table-hover">
            <thead class="table-secondary">
                <tr>
                    <th colspan="2">{{ tabla.titulo }}</th>
                </tr>
            </thead>
            <tbody>
                {% if contenido %}
                <tr>
                    <td>{{ contenido|default_if_none:"No Registra" }}</td>
                </tr>
                {% else %}
                {% for contenido in tabla.contenido %}
                <tr>
                    <th scope="row">{{ contenido.id }}</th>
                    <td>{{ contenido.valor|default_if_none:"No Registra" }}</td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
{% if forloop.counter|divisibleby:2 %}
</div>
{% endif %}
{% endfor %}




{% endif %}
{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/1.0.0/chartjs-plugin-zoom.min.js"></script>
<script src="{% static 'Basic/js/graficas.js' %}"></script>
<script src="{% static 'Basic/js/enviarDataHistorica.js' %}"></script>
{% endblock %}