{% extends "Basic/layout.html" %}
{% load static %}


{% block body %}

<h1>Data Histórica</h1>
<br>
<div class="row">
    <div class="col">
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <table>
                    {{ form }}
                    <tr class="submitr">
                        <td></td>
                        <td><input type="submit" class="btn btn-primary mt-3 mb-2" value="Calcular"></td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
    {% if esCalculado %}
    <div class="col">
        <!-- <div class="row">
            <div class="btn-group btn-group-sm" role="group" aria-label="tipos graficos">
                <button type="button" class="btn btn-outline-primary" id="historial">Historial</button>
                <button type="button" class="btn btn-outline-primary" id="produccionVSpip">produccion vs pip</button>
            </div>
        </div> -->
        <div class="row" id="chartDataHistorica">
        </div>
    </div>
    {% endif %}
</div>
<br>
{% if esCalculado %}
<h3>Fecha del última prueba: {{ data.fecha }}</h3>
<br>
{% for tabla in data.tablas %}
{% if forloop.counter0|divisibleby:2 %}
<div class="row">
    {% endif %}
    <div class="col">
        <table class="table table-bordered table-hover">
            <thead class="table-secondary">
                <tr>
                    <th colspan="2">{{ tabla.titulo }}</th>
                </tr>
            </thead>
            <tbody>
                {% for contenido in tabla.contenido %}
                <tr>
                    {% if contenido.cabecera %}
                    <th scope="row">{{ contenido.cabecera }}</th>
                    {% endif %}
                    <td>
                        <div class="row">
                            <div class="col">
                                {{ contenido.valor|default_if_none:"No Registra" }}
                            </div>
                            {% if not tabla.titulo == 'COMENTARIOS'  %}
                            <div class="col divInside">
                                Graficar
                                <div>
                                    <input class="checkSeriesData" type="checkbox" id="{{ contenido.id }}">
                                    <label for="{{ contenido.id }}" class="lbl"></label>
                                    <input type="hidden" id="{{ contenido.id }}_label" value="{{ contenido.cabecera }}">
                                    <input type="hidden" id="{{ contenido.id }}_color" value="{{ contenido.color }}">
                                    <input type="hidden" id="{{ contenido.id }}_unidades" value="{{ contenido.unidades }}">
                                </div>
                            </div>
                            {% endif %} 
                        </div>
                    </td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
    {% if forloop.counter|divisibleby:2 %}
</div>
{% endif %}
{% endfor %}

{% endif %}
{% endblock %}

{% block script %}
<script src="{% static 'Basic/plugins/chart.js/chart.min.js' %}"></script>
<script src="{% static 'Basic/plugins/chart.js/chartjs-plugin-zoom.min.js' %}"></script>
<script src="{% static 'Basic/js/graficas.js' %}"></script>
<script src="{% static 'Basic/js/enviarGraficaDataHistorica.js' %}"></script>
{% endblock %}