{% extends "Basic/layout.html" %}
{% load static %}

{% block body %}
<h1>Proceso</h1>
<hr class="my-4">
<div class="row bordered">
    <div class="col">
        <img src="{% static 'Basic/img/REMMS.gif' %}" alt="">
    </div>
    <div class="col">
        <p class="text-justify">En las pruebas de producción donde se realice la dilución del crudo de producción con el
            diluyente nafta, es vital conocer un valor aproximado del gasto necesario de diluyente para que la mezcla de
            fluidos tenga la densidad requerida para la conveniencia óptima del proceso; sin incurrir en sobrediluciones
            o falta de diluyente que conlleven a una obstrucción del equipo de medición. Teniendo en cuenta otros
            factores que pueden influenciar errores en la medición como por ejemplo alta presencia de vapor en la fase
            liquida.</p>
    </div>
</div>
{% endblock %}