{% extends "Basic/layout.html" %}
{% load static %}


{% block body %}

<h1>Laboratorio</h1>
<br>
<div class="row">
    <div class="col">
        <form method="POST">
            {% csrf_token %}
            <!-- <table class="table table-borderless table-sm"> -->
            <div class="form-group">
                <table>
                    {{ form }}
                    <tr class="submitr">
                        <td></td>
                        <td><input type="submit" class="btn btn-primary mt-3 mb-2" value="Calcular"></td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
    <div class="col">
        <img src="{% static 'Basic/img/hidrometro.gif' %}" alt="">
    </div>
</div>
<hr class="my-4">
{% if esCalculado %}
<h3>Propiedades Calculadas</h3>
<br>

{% for tabla in data.tablas %}
{% if forloop.first %}
<div class="row">
{% endif %}
    <div class="col">
        <table class="table table-bordered table-hover">
            <thead class="table-secondary">
                <tr>
                    <th colspan="2">{{ tabla.titulo|safe }}</th>
                </tr>
            </thead>
            <tbody>
                {% for contenido in tabla.contenido %}
                <tr>
                    <th scope="row">{{ contenido.cabecera }}</th>
                    {% if tabla.titulo == "GRAVEDAD ESPECIFICA @ 60ºF" %}
                    <td>{{ contenido.valor|floatformat:5 }}</td>
                    {% else %}
                    <td>{{ contenido.valor|floatformat:2 }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% if forloop.last %}
</div>
{% endif %}
{% endfor %}
{% endif %}

{% endblock %}

{% block script %}

{% endblock %}