{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Diluprod21{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{% static 'Basic/css/styles.css' %}" rel="stylesheet">
    {% block script %}
    {% endblock %}
</head>

<body>
    <h1>DILUPROD21</h1>
    <div>
        {% if user.is_authenticated %}
        Logueado como: <strong>{{ user.username }}</strong>.
        {% endif %}
    </div>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">Proceso</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="">Data histórica</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">Pozo Inyector</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'calculos' %}">Cálculos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'graficas' %}">Gráficas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">Laboratorio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">Pozo Nuevo</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Salir</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Iniciar sesión</a>
        </li>
        {% endif %}
    </ul>
    <hr class="my-4">
    {% block body %}
    {% endblock %}
</body>

</html>