{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Diluprod21{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{% static 'Basic/css/styles.css' %}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
    {% block script %}
    {% endblock %}
</head>

<body>
    <h1>DILUPROD21</h1>
    <div>
        {% if user.is_authenticated %}
        Logueado como: <strong>{{ user.username }}</strong>.
        {% endif %}
    </div>
    <ul class="nav nav-tabs justify-content-end">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">Proceso</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'dataHistorica' %}">Data histórica</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'pozoInyector' %}">Pozo Inyector</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'calculos' %}">Cálculos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'laboratorio' %}">Laboratorio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'pozoNuevo' %}">Pozo Nuevo</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'cargarDatos' %}">Cargar Datos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Salir</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Iniciar sesión</a>
        </li>
        {% endif %}
    </ul>
    <!-- <ul class="nav nav-tabs">
        <li class="nav-item" >
            <button class="nav-link active" data-bs-toggle="tab" >Home</button>
        </li>
        <li class="nav-item" >
            <button class="nav-link" data-bs-toggle="tab" >Profile</button>
        </li>
        <li class="nav-item" >
            <button class="nav-link" data-bs-toggle="tab" >Contact</button>
        </li>
    </ul> -->

    <!-- <div class="container-fluid tab-content"> -->
    <div class="container-fluid">
        {% block body %}
        {% endblock %}
    </div>
</body>

</html>