body {
    padding: 10px;
}

.submitr {
    text-align: right;
}

#mapid {
    height: 280px;
}

.divInside {
    text-align: right;
}

.lbl {
    display: inline-block;
    width: 35px;
    height: 18px;
    background: #979797;
    border-radius: 100px;
    cursor: pointer;
    position: relative;
    transition: .2s;
}

.lbl::after {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    background: #eee;
    border-radius: 100px;
    position: absolute;
    top: 3px;
    left: 4px;
    transition: .2s;
}

.checkSeriesData:checked+.lbl::after {
    left: 20px;
}

.checkSeriesData:checked+.lbl {
    background: #068ad6;
}

.checkSeriesData {
    display: none;
}